html{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1.5em;
}
form{
    border: 2px solid black;
    width: 50%;
}
#search-bar{
    display: flex;
    flex-direction: column;
}
.search-bar-buttons{
    display: flex;
    justify-content: space-between;
}
.search-bar-buttons button{
    width: 50%;
}
#search-txt{
    height: 30px;
}
#filters{
    display: flex;
    justify-content: space-evenly;
}
.row{
    width: 150px;
    padding: 0 20px;
}
.check-holder{
    display: flex;
    justify-content: space-between;
}
#meals{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: flex-start;
    border: 2px solid black;
}
#meals p{
    width: 100%;
    text-align: center;
}
.meal-card{
    height: 200px;
    width: 150px;
    padding: 15px;
}
.meal-card img{
    width: 100%;
    height: auto;
}